html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="../style.css")
  body
    div.container
      h1= `Error ${status}`
      div= message
      br
      a(href='/') Back to home